<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
    <link rel="stylesheet" type="text/css" href="public/styles/Questions.css">
        <link rel="stylesheet" type="text/css" href="public/styles/header.css">


</head>
<body>

    <?php include 'header.php'; ?>


    <div class="message">
        Profil
    </div>


    
   <div class="profile-container">
    <h2>Profil użytkownika</h2>
    
    <div class="profile-field">
        <label>Imię:</label>
        <span><?= htmlspecialchars($user['name']); ?></span>
    </div>

    <div class="profile-field">
        <label>Nazwisko:</label>
        <span><?= htmlspecialchars($user['surname']); ?></span>
    </div>

    <div class="profile-field">
        <label>Email:</label>
        <span><?= htmlspecialchars($user['email']); ?></span>
    </div>

    <div class="profile-field">
    <label>Zdjęcie:</label>
    <img src="/uploads/avatar.jpg" alt="Avatar" style="max-width:200px; border-radius:8px;">
</div>


      <?php if (!empty($scores)): ?>
        <h3>Wyniki użytkownika</h3>
        <table>
            <thead>
                <tr>
                    <th>Lewo–Prawo</th>
                    <th>Władza–Wolność</th>
                    <th>Postęp–Konserwa</th>
                    <th>Globalizm–Nacjonalizm</th>
                    <th>Data obliczenia</th>
                </tr>
            </thead>
            <tbody>
                
                    <tr>
                        <td><?= htmlspecialchars($scores['score_lewa_prawa']); ?></td>
                        <td><?= htmlspecialchars($scores['score_wladza_wolnosc']); ?></td>
                        <td><?= htmlspecialchars($scores['score_postep_konserwa']); ?></td>
                        <td><?= htmlspecialchars($scores['score_globalizm_nacjonalizm']); ?></td>
                        <td><?= htmlspecialchars($scores['calculated_at']); ?></td>
                    </tr>
               
            </tbody>
        </table>
    <?php else: ?>
        <p>Brak wyników.</p>
    <?php endif; ?>
    
</div>

</body>
</html>