<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="public/styles/Questions.css">
        <link rel="stylesheet" type="text/css" href="public/styles/header.css">


</head>
<body>

    <?php include 'header.php'; ?>


    <div class="message">
        Ankiety
    </div>

    <div class="survey-list">
        <div class="survey-card">
            <img src="https://picsum.photos/250/150?random=1" alt="Polityka zagraniczna">
            <div class="caption">Polityka zagraniczna</div>
            <div class="questions-count">5 pytań</div>
        </div>

        <div class="survey-card">
            <img src="https://picsum.photos/250/150?random=2" alt="Ekonomia społeczna">
            <div class="caption">Ekonomia społeczna</div>
            <div class="questions-count">8 pytań</div>
        </div>

        <div class="survey-card">
            <img src="https://picsum.photos/250/150?random=3" alt="Prawa obywatelskie">
            <div class="caption">Prawa obywatelskie</div>
            <div class="questions-count">4 pytania</div>
        </div>

        <div class="survey-card">
            <img src="https://picsum.photos/250/150?random=4" alt="Technologia">
            <div class="caption">Technologia</div>
            <div class="questions-count">7 pytań</div>
        </div>
    </div>

</body>
</html>