/* === ZMIENNE === */
:root {
    --main-gradient: linear-gradient(135deg, #1222d4 0%, #eb3737 100%);
    --glass-bg: rgba(255, 255, 255, 0.08);
    --glass-blur: blur(14px);
    --btn-gradient: linear-gradient(135deg, #FF5FA2, #FF9966);
}

/* === RESET I TŁO === */
body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    color: #fff;
    min-height: 100vh;
    /* To tło nigdy się nie zepsuje, bo jest 'fixed' */
    background: var(--main-gradient) no-repeat fixed;
    background-size: cover;
}


.center-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* Brak scrolla */
}
.app-layout {
    display: block; /* Normalny przepływ */
    padding-top: 100px; /* Miejsce na Twój header! */
    overflow-y: auto; /* Pozwala scrollować ziutków */
}