
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #1222d4 0%, #eb3737 100%);
  font-family: "Inter", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative; 
  overflow: hidden;
}


form {
  width: 90%;
  max-width: 380px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(14px);
  border-radius: 20px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}


input {
  width: 90%;
  padding: 12px 16px;
  border-radius: 12px;
  border: none;
  font-size: 15px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.308);
  transition: 0.2s;
}

input::placeholder {
  color: #eaeaea;
}

input:focus {
  outline: none;
  background: rgba(255, 255, 255, 0.28);
  box-shadow: 0 0 8px #ff5fa266;
}


button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg, #ff5fa2, #ff9966);
  border: none;
  border-radius: 14px;
  font-size: 1.1rem;
  color: white;
  cursor: pointer;
  transition: 0.2s ease;
  font-weight: 600;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 18px rgba(255, 99, 150, 0.4);
}


a {
  text-align: center;
  display: block;
  margin-top: 0.5rem;
  color: #ffffff;
  text-decoration: none;
  font-size: 0.95rem;
  opacity: 0.85;
  transition: 0.2s;
}

a:hover {
  opacity: 1;
}


.message {
  color: rgba(255, 0, 0, 0.764);
  text-align: center;
}

body.animate-background::before {
  animation: rotateBg 3s linear forwards;
}

@keyframes rotateBg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body::before_notused {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(135deg, #1222d4 0%, #eb3737 100%);
  z-index: -1;
  transform: rotate(0deg);
  transition: none;
}

.forgot-password {
  display: block; 
  margin-top: 6px; 
  font-size: 0.9rem; 
  color: #190047; 
  text-decoration: none;
  text-align: right;
  gap: 1px;
}

.forgot-password:hover {
  text-decoration: underline;
}
.input-wrapper {
  position: relative; 
  width: 250px; 
}
.input-wrapper input {
  width: 100%;
  padding-right: 36px; 
  height: 36px;
  box-sizing: border-box;
}

.eye-icon {
  position: absolute;
  right: 8px; 
  top: 50%;
  transform: translateY(-50%); 
  cursor: pointer;
  user-select: none;
  font-size: 18px;
}

.no-valid {
  border: 2px solid red;
  background-color: #ffe5e5;
}
